<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>提醒通知</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜尋">
          <span class="input-group-btn">
               <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-12">
      <bt-portlet titlename="'提醒通知'" switchbtn="true" selectbtn="true" closebtn="true">
        <div class="x_content bs-example-popovers">
          <bt-alert alertthem="'default'"></bt-alert>

          
          <!--<div class="alert alert-default alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>通知！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-primary alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>通知！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>成功！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>通知！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>注意！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>錯誤！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>
          <div class="alert alert-dark alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
            <strong>通知！</strong> 自102/04月份起，開放實體表單頁面用戶使用線上「表單頁面瀏覽」功能，不論是查詢或下載明細表單頁面，皆不需額外申請。
          </div>-->
          
        </div>
      </bt-portlet>
  </div>
</div>