         <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>blockUI</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">

                <bt-portlet titlename="'基本樣式'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>名字</th>
                          <th>姓氏</th>
                          <th>帳號</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </bt-portlet>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <bt-portlet titlename="'loading icon'" refreshstyle="'circles'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>名字</th>
                          <th>姓氏</th>
                          <th>帳號</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </bt-portlet>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <bt-portlet titlename="'loading icon'" refreshstyle="'battery'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>名字</th>
                          <th>姓氏</th>
                          <th>帳號</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </bt-portlet>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <bt-portlet titlename="'loading icon'" refreshstyle="'ball'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>名字</th>
                          <th>姓氏</th>
                          <th>帳號</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </bt-portlet>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <bt-portlet titlename="'loading text'" refreshstyle="'textPrompt'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>名字</th>
                          <th>姓氏</th>
                          <th>帳號</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>

                </bt-portlet>
              </div>
            </div>
          </div>