<div class="" ng-controller="datepickerCtrl">
	<div class="page-title">
		<div class="title_left">
			<h3>日期區間選擇器</h3>
		</div>

		<div class="title_right">
			<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="搜尋">
					<span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<bt-portlet titlename="'日期區間選擇器設計'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
				<p>可藉由bt-datepicker-range這個directive新增日期區間選擇器。</p>
				<p><code>&lt;bt-datepicker-range <strong>datepicker-id</strong>="ss" <strong>ng-model</strong>="daterange1" <strong>format</strong>="YYYY-MM-DD h:mm:ss A" <strong>drops</strong>="up" <strong>opens</strong>="right" <strong>min-date</strong>="2016-01-10" <strong>max-date</strong>="2017-10-23" <strong>show-dropdowns</strong>="true" <strong>time-picker</strong>="true" <strong>time-picker-increment</strong>="30" <strong>time-picker24-hour</strong>="false" <strong>time-picker-seconds</strong>="true"&gt;&lt;/bt-datepicker-range&gt;</code></p>
				<p>說明如下：</p>
				<ol>
					<li>datepicker-id。(必填)</li>
                    <li>ng-model，可設定日期。(必填，Array)</li>
                    <li>format，可設定日期格式，預設YYYY/MM/DD。</li>
                    <li>drops，可設定開啟方向，預設down。(up、down)</li>
					<li>opens，可設定偏移方向，預設right。(left、right)</li>
                    <li>min-date，可設定最小日期區間。</li>
                    <li>max-date，可設定最大日期區間。</li>
                    <li>show-dropdowns，可設定月份的選擇方式。(boolean)</li>
                    <li>time-picker，可設定是否顯示時間格式。(boolean)</li>
                    <li>time-picker-increment，可設定分鐘間隔。</li>
                    <li>time-picker24-hour，可設定是否顯示24小時制。(boolean)</li>
                    <li>time-picker-seconds，可設定是否顯示秒數。(boolean)</li>
				</ol>
			</bt-portlet>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<bt-datepicker-range datepicker-id="ss" ng-model="daterange1" format="YYYY-MM-DD h:mm:ss A" drops="up" opens="right" min-date="2016-01-10" max-date="2017-10-23" show-dropdowns="true" time-picker="true" time-picker-increment="30" time-picker24-hour="false" time-picker-seconds="true"></bt-datepicker-range>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<button class="btn btn-primary" ng-click='console()'>console</button>
			<button class="btn btn-default" ng-click='remove()'>remove</button>
		</div>		
	</div>
</div>