<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>基本圖表</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜尋">
          <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'長條圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="barChart" style="height:300px;"></div>
      </bt-portlet>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'長條圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="horizontalBarChart" style="height:300px;"></div>
      </bt-portlet>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'圓餅圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="pieChart" style="height:300px;"></div>
      </bt-portlet>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'圓餅圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="donutPieChart" style="height:300px;"></div>
        </bt-portle>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'折線圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="scatterChart" style="height:300px;"></div>
      </bt-portlet>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <bt-portlet titlename="'圓餅圖'" switchbtn='true' selectbtn='true' closebtn='true'>
        <div id="lineChart" style="height:300px;"></div>
      </bt-portlet>
    </div>
  </div>
</div>