<div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>固定Footer <small> <code>新增class="<strong>footer_fixed</strong>"</code></small></h3>
              </div>
            </div>

            <bt-portlet titlename="'網格－網格使用說明'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">

                <div class="row">

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>
                  
                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <input type="text" placeholder=".col-md-12" class="form-control">
                  </div>
                </div>

            </bt-portlet>

          </div>