          <div class="" ng-controller='yvonneCtrl as ctrl'>
            <div class="page-title">
              <div class="title_left">
                <h3>區間拉桿</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">

                <!-- form grid slider -->
                <bt-portlet titlename="'區間拉桿'" switchbtn="true" selectbtn="true" closebtn="true">

                    <div class="grid_slider">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>初始設定：單拉桿、隱藏格線數值</p>
                        <input type="text" id="range_01" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定起始數值大小、顯示格線數值</p>
                        <input type="text" id="range_02" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值符號($)、隱藏最大最小值</p>
                        <input type="text" id="range_03" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值分隔符號( , )</p>
                        <input type="text" id="range_04" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定移動間距(500)</p>
                        <input type="text" id="range_05" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定移動間距(0.1)</p>
                        <input type="text" id="range_06" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>固定左側拉桿</p>
                        <input type="text" id="range_07" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>固定右側拉桿</p>
                        <input type="text" id="range_08" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定最大最小值限制</p>
                        <input type="text" id="range_09" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值最大最小間距</p>
                        <input type="text" id="range_10" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值前綴符號(Age)</p>
                        <input type="text" id="range_11" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值後綴符號(°C)</p>
                        <input type="text" id="range_12" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值前後格式(decorate_both = true)</p>
                        <input type="text" id="range_13" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>設定數值前後格式(decorate_both = false)</p>
                        <input type="text" id="range_14" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>自訂Array-英文數字</p>
                        <input type="text" id="range_15" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>自訂Array-月份</p>
                        <input type="text" id="range_16" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>自訂日期格式-24小時制</p>
                        <input type="text" id="range_17" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>自訂日期格式-12小時制</p>
                        <input type="text" id="range_18" value="" name="range" />
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>失效狀態</p>
                        <input type="text" id="range_19" value="" name="range" />
                      </div>
                    </div>

                </bt-portlet>

                <br />
                <br />
                <!-- /form grid slider -->

              </div>
            </div>
          </div>