<div class="" ng-controller="notifications">
    <div class="page-title">
        <div class="title_left">
            <h3>訊息通知</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜尋">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="">
    <div class="col-md-6 col-sm-6 col-xs-12">

        <bt-portlet titlename="'Tooltips－Hover to view'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
                <p>Add small overlays of content for housing secondary information.</p>
                <!-- start pop-over -->
                <div class="bs-example-popovers">
                    <button type="button" class="btn btn-default" title="Popover title" data-container="body" data-toggle="popover" data-trigger="hover" ; data-placement="left" data-content="Some content in Popover on left">Popover on left</button>
                    <button type="button" class="btn btn-default" title="Popover title" data-container="body" data-toggle="popover" data-trigger="hover" ; data-placement="top" data-content="Some content in Popover on top">Popover on top</button>
                    <button type="button" class="btn btn-default" title="Popover title" data-container="body" data-toggle="popover" data-trigger="hover" ; data-placement="bottom" data-content="Some content in Popover on bottom">Popover on bottom</button>
                    <button type="button" class="btn btn-default" title="Popover title" data-container="body" data-toggle="popover" data-trigger="hover" ; data-placement="right" data-content="Some content in Popover on right">Popover on right</button>
                </div>
                <!-- end pop-over -->
        </bt-portlet> 

    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        
        <bt-portlet titlename="'Tooltips－Hover to view'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
                <p>Hover over the links below to see tooltips:</p>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip left">Tooltip left</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip top">Tooltip top</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip bottom">Tooltip bottom</button>
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip right">Tooltip right</button>
        </bt-portlet>

    </div>
</div>
<div class="col-md-12 col-sm-6 col-xs-12">

    <bt-portlet titlename="'Models'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
            <!-- modals -->
            <!-- Large modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large model</button>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Model 標題</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Text in a model</h4>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Large modal -->
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small model</button>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel2">Model 標題</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Text in a modal</h4>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Small modal -->
            <!--Youtube modal-->
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/loFtozxZG0s">Video</a>
            <div class="modal " id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div>
                                <iframe width="100%" height="350" src=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Youtube modal-->
            <!-- modals -->
    </bt-portlet>

</div>
<!--sweetalert start-->
<div class="col-md-12 col-sm-6 col-xs-12">

    <bt-portlet titlename="'SweetAlert'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
            <p>Model Types</p>
            <button class="btn btn-default  sweet">問題</button>
            <button class="btn btn-default btn-info sweet">情報</button>
            <button class="btn btn-default btn-success sweet">完成</button>
            <button class="btn btn-default btn-warning sweet">警告</button>
            <button class="btn btn-default btn-danger sweet">危險</button>
            <hr>
            <p>Custom</p>
            <button class="btn btn-default  sweet">TimeOut</button>
            <button class="btn btn-default  sweet">CustomButton</button>
            <button class="btn btn-default  sweet">CustomDiv</button>
            <button class="btn btn-default  sweet">If/Else-1</button>
            <button class="btn btn-default  sweet">If/Else-2</button>
            <button class="btn btn-default  sweet">SetPicture</button>
            <button class="btn btn-default  sweet">SetBackgroundImage</button>
            <button class="btn btn-default  sweet">Ajax</button>
            <button class="btn btn-default  sweet">The next step</button>
            <hr>
            <p>Input</p>
            <button class="btn btn-default  sweet">InputText</button>
            <button class="btn btn-default  sweet">InputMail</button>
            <button class="btn btn-default  sweet">InputPassword</button>
            <button class="btn btn-default  sweet">InputTextarea</button>
            <button class="btn btn-default  sweet">InputSelect</button>
            <button class="btn btn-default  sweet">InputRadio</button>
            <button class="btn btn-default  sweet">InputCheckbox</button>
            <button class="btn btn-default  sweet">InputFile</button>
            <hr>
            <p>Multiple inputs</p>
            <button class="btn btn-default  sweet">MultipleInputs</button>
    </bt-portlet>

</div>
<!--sweetalert end-->
<div class="col-md-12 col-sm-6 col-xs-12">

    <bt-portlet titlename="'Notifications－Styled & Custom notifications'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
            <p>Regular notifications</p>
            <button class="btn btn-default source pnotify">Success</button>
            <button class="btn btn-default source pnotify">Info</button>
            <button class="btn btn-default source pnotify">Notice</button>
            <button class="btn btn-default source pnotify">Error</button>
            <button class="btn btn-default source pnotify">Dark</button>
            <hr />
            <p>Sticky notifications.. these wont close unless user closes them.</p>
            <button class="btn btn-default source pnotify">Success</button>
            <button class="btn btn-default source pnotify">Info</button>
            <button class="btn btn-default source pnotify">Warning</button>
            <button class="btn btn-default source pnotify">Error</button>
            <button class="btn btn-default source pnotify">Dark</button>
            <hr/>
            <button class="btn btn-default source pnotify">Non-Blocking Notice</button>
            <hr />
            <div id="antoox">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <button class="btn btn-default source TabbedNotification" data-title='Tabbed Notificat' data-text='Sticky success... Raw denim you probably haven\ t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.'
                data-type='success' data-sound='false'>Success</button>
            <button class="btn btn-default source TabbedNotification" data-title='Tabbed Notificat ' data-text='Custom Info... Raw denim you probably haven‘t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. '
                data-type='info ' data-sound='false' ">Info</button>
                            <button class="btn btn-default source TabbedNotification " 
                                data-title= 'Tabbed Notificat ' 
                                data-text= 'Custom Warning... Raw denim you probably haven‘t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. '
                                data-type= 'warning '
                                data-sound= 'false' ">Warning</button>
            <button class="btn btn-default source TabbedNotification" data-title='Custom Notification error ' data-text='Custom Error... Raw denim you probably haven‘t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. '
                data-type='error ' data-sound='false' ">Error</button>
                            <button class="btn btn-default source TabbedNotification " 
                                data-title= 'Tabbed notification dark '
                                data-text= 'Custom Dark... Raw denim you probably haven‘t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. '
                                data-type='dark ' 
                                data-sound= 'false'">Dark</button>
    </bt-portlet>

</div>
<div class="clearfix "></div>
<div class="col-md-12 col-sm-6 col-xs-12">

    <bt-portlet titlename="'Carousel－轉吧轉吧！'" refreshbtn="true" switchbtn="true" selectbtn="true" closebtn="true">
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Invoice </th>
                                        <th class="column-title">Invoice Date </th>
                                        <th class="column-title">Order </th>
                                        <th class="column-title">Bill to Name </th>
                                        <th class="column-title">Status </th>
                                        <th class="column-title">Amount </th>
                                        <th class="column-title no-link last"><span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000040</td>
                                        <td class=" ">May 23, 2014 11:47:56 PM </td>
                                        <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$7.45</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000039</td>
                                        <td class=" ">May 23, 2014 11:30:12 PM</td>
                                        <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
                                        </td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$741.20</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000038</td>
                                        <td class=" ">May 24, 2014 10:55:33 PM</td>
                                        <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
                                        </td>
                                        <td class=" ">Mike Smith</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$432.26</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000037</td>
                                        <td class=" ">May 24, 2014 10:52:44 PM</td>
                                        <td class=" ">121000204</td>
                                        <td class=" ">Mike Smith</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$333.21</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000040</td>
                                        <td class=" ">May 24, 2014 11:47:56 PM </td>
                                        <td class=" ">121000210</td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$7.45</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000039</td>
                                        <td class=" ">May 26, 2014 11:30:12 PM</td>
                                        <td class=" ">121000208 <i class="error fa fa-long-arrow-down"></i>
                                        </td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$741.20</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000038</td>
                                        <td class=" ">May 26, 2014 10:55:33 PM</td>
                                        <td class=" ">121000203</td>
                                        <td class=" ">Mike Smith</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$432.26</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000037</td>
                                        <td class=" ">May 26, 2014 10:52:44 PM</td>
                                        <td class=" ">121000204</td>
                                        <td class=" ">Mike Smith</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$333.21</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000040</td>
                                        <td class=" ">May 27, 2014 11:47:56 PM </td>
                                        <td class=" ">121000210</td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$7.45</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                    <tr class="odd pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records">
                                        </td>
                                        <td class=" ">121000039</td>
                                        <td class=" ">May 28, 2014 11:30:12 PM</td>
                                        <td class=" ">121000208</td>
                                        <td class=" ">John Blank L</td>
                                        <td class=" ">Paid</td>
                                        <td class="a-right a-right ">$741.20</td>
                                        <td class=" last"><a href="#">View</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="item">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">11</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="item active">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">11</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-id" data-slide="prev" style="background-image:none"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-id" data-slide="next" style="background-image:none"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
    </bt-portlet>

</div>
<div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
</div>