<div class="navbar nav_title" style="border: 0;" ng-controller="sliderMenu">
  <a href="index.html" class="site_title">
    <!--<i class="fa fa-paw"></i> -->
    <span>BT-UI Prototype</span>
  </a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile">
  <div class="profile_pic">
    <img src="../images/img.jpg" alt="..." class="img-circle profile_img">
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>John Doe</h2>
  </div>
</div>
<!-- /menu profile quick info -->

<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>藍科數位科技</h3>
    <ul class="nav side-menu">
      <!--<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                  </li>-->
      <li><a><i class="fa fa-file-text"></i> 內容構成 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#grids">網格</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> 表單設計 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#form">表單構成</a></li>
          <li><a href="#form_advanced">表單元件</a></li>
          <li><a href="#form_layout">表單編排</a></li>
          <!--<li><a href="form_validation.html">Form Validation</a></li>
                      <li><a href="form_wizards.html">Form Wizard</a></li>
                      <li><a href="form_upload.html">Form Upload</a></li>-->
          <li><a href="#form_buttons">表單按鈕</a></li>
          <li><a href="#datepicker">日期選擇器</a></li>
          <li><a href="#datepicker_range">日期區間選擇器</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> 內容元件 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <!-- <li><a href="media_gallery.html">Media Gallery</a></li>
                      <li><a href="typography.html">Typography</a></li> -->
          <li><a href="#glyphicons">符號圖示</a></li>
          <li><a href="#icons">Font Awesome圖示</a></li>
          <li><a href="#general_elements">頁籤開闔</a></li>
          <li><a href="#switch">Switch</a></li>
          <li><a href="#list">待辦事項</a></li>
          <li><a href="#gridslider">區間拉桿</a></li>
          <!-- <li><a href="widgets.html">Widgets</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                      <li><a href="inbox.html">Inbox</a></li>
                      <li><a href="calendar.html">Calendar</a></li> -->
          <li><a href="#panel">面板</a></li>
          <li><a href="dragDrop.html" target='_blank'>拖拉</a></li>
          <li><a href="#blockUI">blockUI</a></li>
          <li><a href="#echarts">基本圖表</a></li>
          <li><a href="#echarts2">進階圖表</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-table"></i> 資料表格 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#tables">一般表格</a></li>
          <li><a href="#tables_dynamic">動態表格</a></li>
          <li><a href="#pagination">分頁</a></li>
          <li><a href="#tables_dynamic2">Angular-DataTable</a></li>
        </ul>
      </li>
      <!-- <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  </li> -->
      <li><a><i class="fa fa-th-large"></i>版面 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#fixed_sidebar">固定側邊欄</a></li>
          <li><a href="#fixed_footer">固定Footer</a></li>
          <li><a href="threeCol.html" target='_blank'>三欄式版面</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-clone"></i>視窗元件 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#notifications">訊息通知</a></li>
          <li><a href="#alert">提醒通知</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Live On</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-bug"></i> 示範頁面 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <!--<li><a href="e_commerce.html">E-commerce</a></li>-->
          <li><a href="#projects">示範頁面</a></li>
          <li><a href="#component">component</a></li>
          <!--<li><a href="project_detail.html">Project Detail</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="profile.html">Profile</a></li>-->
        </ul>
      </li>
      <li><a><i class="fa fa-windows"></i> 其它頁面 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <!-- <li><a href="page_403.html">403 Error</a></li> -->
          <li><a href="page_404.html" target= '_blank'>404 錯誤頁面</a></li>
          <li><a href="page_500.html" target= '_blank'>500 錯誤頁面</a></li>
          <!-- <li><a href="plain_page.html">Plain Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="pricing_tables.html">Pricing Tables</a></li> -->
        </ul>
      </li>
      <li><a><i class="fa fa-sitemap"></i> 多層級菜單 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#level1_1">層級一</a>
            <li><a>層級一<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="#level2">層級二</a>
                </li>
                <li><a href="#level2#level2_1">層級二</a>
                </li>
                <li><a href="#level2#level2_2">層級二</a>
                </li>
              </ul>
            </li>
            <li><a href="#level1_2">層級一</a>
            </li>
        </ul>
        </li>
        <!-- <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li> -->
    </ul>
  </div>

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="設定">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="全屏">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="鎖定">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="登出">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->