<div class="" ng-controller="switch">
  <div class="page-title">
    <div class="title_left">
      <h3>Switch</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜尋">
          <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Switch樣式 </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">設定 1</a>
                </li>
                <li><a href="#">設定 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="list-inline size">
            <li><input type="checkbox" name="my-checkbox" data-on-color="primary" data-off-color="default" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="success" data-off-color="default" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="info" data-off-color="default" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="warning" data-off-color="default" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="danger" data-off-color="default" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="dark" data-off-color="default" data-animate="false" checked></li>
          </ul>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2>失效Switch </h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">設定 1</a>
                </li>
                <li><a href="#">設定 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="list-inline size">
            <li><input type="checkbox" name="my-checkbox" data-on-color="primary" data-off-color="default" checked disabled></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="success" data-off-color="default" checked disabled></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="info" data-off-color="default" checked disabled></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="warning" data-off-color="default" checked disabled></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="danger" data-off-color="default" checked disabled></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="dark" data-off-color="default" checked disabled></li>
          </ul>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2>Switch尺寸</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">設定 1</a>
                </li>
                <li><a href="#">設定 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="list-inline size">
            <li><input type="checkbox" name="my-checkbox" data-size="large" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-size="normal" data-animate="false" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-size="small" data-animate="false"></li>
            <li><input type="checkbox" name="my-checkbox" data-size="mini" data-animate="false"></li>
          </ul>
        </div>

      </div>


      <div class="x_panel">
        <div class="x_title">
          <h2>Switch動畫效果</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">設定 1</a>
                </li>
                <li><a href="#">設定 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>藉由<code>data-animate="<strong>true</strong>"</code>控制動畫效果。預設為true。</p>
          <ul class="list-inline size">
            <li><input type="checkbox" name="my-checkbox" data-on-color="primary" data-off-color="default" data-animate="true" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="success" data-off-color="default" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="info" data-off-color="default" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="warning" data-off-color="default" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="danger" data-off-color="default" checked></li>
            <li><input type="checkbox" name="my-checkbox" data-on-color="dark" data-off-color="default" checked></li>
          </ul>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2>Switch文字設定</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">設定 1</a>
                </li>
                <li><a href="#">設定 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <p>藉由<code>data-on-text="<strong>文字</strong>"</code>與<code>data-off-text="<strong>文字</strong>"</code>控制內容呈現。</p>
          <ul class="list-inline size">
            <li><input type="checkbox" name="my-checkbox" data-on-color="primary" data-off-color="default" data-on-text="是" data-off-text="否" checked></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>