/* ***** panel ********/
.panel-default {
  border-color: #e6e6e6;
  .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
}
.panel-primary {
  border-color: rgba(46,109,164,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(46,109,164,.85);
    border-color: rgba(46,109,164,.85);
  }
}
.panel-success {
  border-color: rgba(38,185,154,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(38,185,154,.85);
    border-color: rgba(38,185,154,.85);
  }
}
.panel-info {
  border-color: rgba(52,152,219,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(52,152,219,.85);
    border-color: rgba(52,152,219,.85);
  }
}
.panel-warning {
  border-color: rgba(243,156,18,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(243,156,18,.85);
    border-color: rgba(243,156,18,.85);
  }
}
.panel-danger {
  border-color: rgba(231,76,60,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(231,76,60,.85);
    border-color: rgba(231,76,60,.85);
  }
}
.panel-dark {
  border-color: rgba(57,77,95,.85);
  .panel-heading {
    color: #fff;
    background-color: rgba(57,77,95,.85);
    border-color: rgba(57,77,95,.85);
  }
}
/* ***** /panel *******/