<div class="page-no-title"></div>
<div class="row" ng-controller="activityClassificationCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>促銷活動類別</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- 促銷活動類別表單 begin -->
                    <form class="form-horizontal form-label-left">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">代號</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">活動名稱</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-primary pull-right">重置</button>
                                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#actClassifcationAdd">新增</button>
                                <button type="button" class="btn btn-primary pull-right" ng-click="showTable()">查詢</button>
                            </div>
                        </div>
                        <!-- start 促銷活動類別表格-->
                        <table id="datatable_activityClassification" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="table-header-color col-md-1 col-sm-12 col-xs-12">排序</th>
                                    <th class="table-header-color col-md-1 col-sm-12 col-xs-12">代號</th>
                                    <th class="table-header-color col-md-4 col-sm-12 col-xs-12">活動名稱</th>
                                    <th class="table-header-color col-md-2 col-sm-12 col-xs-12">修改人員</th>
                                    <th class="table-header-color col-md-2 col-sm-12 col-xs-12">修改日期</th>
                                    <th class="table-header-color col-md-2 col-sm-12 col-xs-12"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in activityClassificationTableData track by $index">
                                    <td ng-bind="x.activityClassificationSorting"></td>
                                    <td ng-bind="x.activityClassificationID "></td>
                                    <td ng-bind="x.activityClassificationName"></td>
                                    <td ng-bind="x.activityClassificationRole"></td>
                                    <td ng-bind="x.activityClassificationDate"></td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#actClassifcationEdit"><i class="fa fa-pencil"></i>修改</button>
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#actClassifcationDelConfirm"><i class="glyphicon glyphicon-remove"></i>刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end 促銷活動類別表格 -->
                    </form>
                    <!-- 促銷活動類別表單 end -->
                    <!-- 新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassifcationAdd" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>代號</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>活動名稱</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">排序</label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-8 col-sm-offset-8"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actClassifcationAddConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#actClassAddConfirmCancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 新增 end -->
                    <!-- 確定新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassifcationAddConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定新增畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定新增？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyAddSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定新增 end -->
                    <!-- 新增完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="actClassifcationOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">新增完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>新增完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 新增完成 end -->
                    <!-- 確定取消新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassAddConfirmCancel" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定取消新增畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定取消新增？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定取消新增 end -->
                    <!-- 修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassifcationEdit" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>代號</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>活動名稱</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">排序</label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-8 col-sm-offset-8"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#actClassifcationEditConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#actClassEditConfirmCancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改 end -->
                    <!-- 確定修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassifcationEditConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyEditSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定修改 end -->
                    <!-- 修改完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="actClassifcationEditOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">修改完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>修改完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 修改完成 end -->
                    <!-- 確定取消修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassEditConfirmCancel" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定取消修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定取消修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel2()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定取消修改 end -->
                    <!-- 刪除 begin -->
                    <div class="modal fade bs-example-modal-lg" id="actClassifcationDelConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定刪除畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定刪除？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyDelSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除 end -->
                    <!-- 刪除完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="actClassifcationDelOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">刪除完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>刪除完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 刪除完成 end -->
                </div>
            </div>
        </div>
    </div>
</div>