<div class="page-no-title"></div>
<div class="row" ng-controller="classificationOfferSetCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>促代OFFER簡稱設定</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- 促代offer簡稱設定表單 begin -->
                    <form class="form-horizontal form-label-left">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Offer ID</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">Offer 名稱</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <button type="button" class="btn btn-primary pull-right">重置</button>
                                <button type="button" class="btn btn-primary pull-right" ng-click="showTable()">查詢</button>
                            </div>
                        </div>
                        <!--促代offer簡稱設定表格 start -->
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable_classificationOffer" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="table-header-color col-md-4">Offer 名稱</th>
                                            <th class="table-header-color col-md-2">Offer 簡稱</th>
                                            <th class="table-header-color col-md-2">修改人員</th>
                                            <th class="table-header-color col-md-2">修改日期</th>
                                            <th class="table-header-color col-md-2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in classificationOfferTableData track by $index">
                                            <td ng-bind="x.classificationOfferName"></td>
                                            <td ng-bind="x.classificationOfferAbbr"></td>
                                            <td ng-bind="x.classificationOfferRole"></td>
                                            <td ng-bind="x.classificationOfferDate"></td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#classOfferEdit"><i class="fa fa-pencil"></i>修改</button>
                                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#classOfferDelConfirm"><i class="glyphicon glyphicon-remove"></i>刪除</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 促代offer簡稱設定表格 end -->
                        <!-- 頁籤 begin -->
                        <div class="pull-right">
                            <div bt-pagination ng-model="tableInfo" page-size="9" page-count="10"></div>
                        </div>
                        <!-- 頁籤 end -->
                    </form>
                    <!-- 促代offer簡稱設定表單 end -->
                    <!-- 修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="classOfferEdit" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true ">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Offer 名稱</label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text " class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2 col-xs-12"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Offer 簡稱</label>
                                            <div class="col-md-7 col-sm-7 col-xs-12">
                                                <input type="text " class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2 col-xs-12"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#classOfferEditConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#classOfferEditConfirmCancel">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改 end -->
                    <!-- 確定修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="classOfferEditConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyEditSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定修改 end -->
                    <!-- 修改完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="classOfferEditOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">修改完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>修改完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 修改完成 end -->
                    <!-- 確定取消修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="classOfferEditConfirmCancel" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定取消修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定取消修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定取消修改 end -->
                    <!-- 刪除 begin -->
                    <div class="modal fade bs-example-modal-lg" id="classOfferDelConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定刪除畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定刪除？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyDelSuccess()">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除 end -->
                    <!-- 刪除完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="classOfferDelOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">刪除完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>刪除完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 刪除完成 end -->
                </div>
            </div>
        </div>
    </div>
</div>