<div class="page-title">
	<div class="title_left">
		<h3>問卷</h3>
	</div>
</div>



<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 form-group">
		<bt-portlet titlename="'問卷'" refreshbtn="false" switchbtn="true" selectbtn="false" closebtn="false">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 form-group">

					<form class="form-horizontal form-label-left ng-pristine ng-valid">
						<!--<div class="form-group">
							<label class="col-sm-3 control-label">搜尋類型</label>
							<div class="col-sm-9">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle btn-width" data-toggle="dropdown" aria-expanded="false">請選擇 <span class="caret"></span>
                              </button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
											<li><a href="#">活動</a>
											</li>
											<li><a href="#">促案</a>
											</li>
										</ul>
									</div>
									<span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Go!</button>
                  </span>
								</div>
							</div>
						</div>-->

            <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">下拉選單欄位</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control">
                            <option value="請選擇">請選擇</option>
                            <option value="選項 1">選項 1</option>
                            <option value="選項 2">選項 2</option>
                            <option value="選項 3">選項 3</option>
                            <option value="選項 4">選項 4</option>
                          </select>
                        </div>
                      </div>

                      

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">下拉選單欄位-自訂</label>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<select class="select2_single form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option value=""></option>
                            <option value="01">台北市</option>
                            <option value="02">新北市</option>
                            <option value="03">基隆市</option>
                            <option value="04">宜蘭縣</option>
                          </select><span class="select2 select2-container select2-container--default select2-container--below"
									dir="ltr" style="width: 264px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-1atc-container"><span class="select2-selection__rendered" id="select2-1atc-container"><span class="select2-selection__placeholder">選擇縣市</span></span>
								<span
									class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
									</span>
									</span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
							</div>
						</div>
					</form>


				</div>

				<!--<div class="col-md-6 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-6" class="form-control">
				</div>

				<div class="col-md-6 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-6" class="form-control">
				</div>-->


				<!--<div class="col-md-4 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-4" class="form-control">
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-4" class="form-control">
				</div>

				<div class="col-md-4 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-4" class="form-control">
				</div>-->


				<!--<div class="col-md-3 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-3" class="form-control">
				</div>

				<div class="col-md-3 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-3" class="form-control">
				</div>

				<div class="col-md-3 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-3" class="form-control">
				</div>

				<div class="col-md-3 col-sm-12 col-xs-12 form-group">
					<input type="text" placeholder=".col-md-3" class="form-control">
				</div>-->
			</div>
		</bt-portlet>
	</div>
</div>