<!--<div class="page-title">
	<div class="title_left">
		<h3>問卷-查詢</h3>
	</div>
</div>-->
<div class="row" ng-controller="demoCtrl">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>問卷-查詢</h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br>
				<form class="form-horizontal form-label-left">
					<div class="form-group" ng-show="showAdd">
						<div class="col-md-12 col-sm-12 col-xs-12 text-right">
							<button type="button" class="btn btn-link ng-scope" ng-click="addItem()">我要新增</button>
							<button type="button" class="btn btn-link ng-scope" ng-show="showActivities" ng-click="changeSearch()">改為關鍵字查詢</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2 col-sm-2 col-xs-12">選擇類型</label>
						<div class="col-md-10 col-sm-10 col-xs-12">
							<select class="select2_single form-control" style="width:100%" id="selectType" tabindex="-1" ng-options="x for x in selectTypeItem" ng-model="selectType">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
						</div>
					</div>
					<div class="form-group" ng-show="showSearch">
						<label class="control-label col-md-2 col-sm-2 col-xs-12" for="saerchKeyInput">查詢關鍵字</label>
						<div class="col-md-7 col-sm-7 col-xs-12">
							<input type="text" id="saerchKeyInput" required="required" class="form-control col-md-7 col-xs-12" ng-model="saerchKeyInput">
							</select>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<button type="button" class="btn btn-primary ng-scope" ng-click="saerch()">搜尋</button>
							<button type="button" class="btn btn-primary ng-scope" ng-click="saerchAdvanced()">進階查詢</button>
						</div>
					</div>
					<!-- begin 活動進階查詢 -->
					<div ng-show="showActivities">
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="SPV">SPV NO</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="SPV" required="required" class="form-control col-md-7 col-xs-12" ng-model="SPV">
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityCode">活動類別代碼</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="activityCode" required="required" class="form-control col-md-7 col-xs-12" ng-model="activityCode">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityName">活動類別名稱</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="activityName" required="required" class="form-control col-md-7 col-xs-12" ng-model="activityName">
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="groupCode">活動群組代碼</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="groupCode" required="required" class="form-control col-md-7 col-xs-12" ng-model="groupCode">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityGroup">活動群組</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="activityGroup" tabindex="-1" ng-options="x for x in activityGroupItem" ng-model="activityGroup">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="numberType">門號類型</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="numberType" tabindex="-1" ng-options="x for x in numberTypeItem" ng-model="numberType">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="type">種類</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="type" tabindex="-1" ng-options="x for x in typeItem" ng-model="type">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
						</div>
						<div class="form-group pull-right">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<button type="button" class="btn btn-primary ng-scope" ng-click="activities_Advanced()">查詢</button>
							</div>
						</div>
					</div>
					<!-- end 活動進階查詢 -->
				</form>
				<!-- begin 關鍵字搜尋表格 -->
				<div class="col-md-12 col-sm-12 col-xs-12" ng-show="showCommonTable">
					<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">加入</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">類型</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">名稱</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">期間</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">修改</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" ng-repeat="x in commonTableData | filter:saerchKey track by $index">
								<td class="sorting_1 text-center" ng-click="selectItem(x)">
									<i class="fa fa-plus"></i>
								</td>
								<td ng-bind="x.type"></td>
								<td ng-bind="x.name"></td>
								<td ng-bind="x.dateRange"></td>
								<td class="text-center" ng-click="edit(x)">
									<i class="fa fa-pencil"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- end 關鍵字搜尋表格 -->
				<!-- begin 活動進階搜尋表格 -->
				<div class="col-md-12 col-sm-12 col-xs-12" ng-show="showActivitiesTable">
					<table id="datatable_activities" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">加入</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">SPV NO</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">門號類型</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">種類</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動類別代碼</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動類別名稱</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動期間</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動群組代碼</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動群組</th>
								<th class="sorting text-center" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">修改</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" ng-repeat="x in activitiesTableData track by $index">
								<td class="sorting_1 text-center" ng-click="selectItem(x)">
									<i class="fa fa-plus"></i>
								</td>
								<td ng-bind="x.SPV"></td>
								<td ng-bind="x.gateType"></td>
								<td ng-bind="x.sort"></td>
								<td ng-bind="x.activityCode"></td>
								<td ng-bind="x.activityName"></td>
								<td ng-bind="x.activityRange"></td>
								<td ng-bind="x.groupCode"></td>
								<td ng-bind="x.groupName"></td>
								<td class="text-center" ng-click="edit(x)">
									<i class="fa fa-pencil"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- end 活動進階搜尋表格 -->
			</div>
		</div>
	</div>
</div>
<!-- begin Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="myModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">Model 標題</h4>
			</div>
			<div class="modal-body">
				<h4>Text in a model</h4>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
					dolor auctor.</p>
				<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec
					sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- end Large modal -->