<!--<div class="page-title">
	<div class="title_left">
		<h3>問卷-查詢</h3>
	</div>
</div>-->
<div class="row" ng-controller="demoCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>問卷-查詢</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <!--<form class="form-horizontal form-label-left ">
					<div class="form-group" ng-show="showAdd">
						<div class="col-md-12 col-sm-12 col-xs-12 text-right">
							<button type="button" class="btn btn-primary ng-scope" ng-click="addItem()">我要新增</button>
							<button type="button" class="btn btn-primary ng-scope" ng-show="showActivities" ng-click="changeSearch()">改為關鍵字查詢</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2 col-sm-2 col-xs-12">選擇類型</label>
						<div class="col-md-10 col-sm-10 col-xs-12">
							<select class="select2_single form-control" style="width:100%" id="selectType" tabindex="-1" ng-options="x for x in selectTypeItem"
											ng-model="selectType">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
						</div>
					</div>
					<div class="form-group" ng-show="showSearch">
						<label class="control-label col-md-2 col-sm-2 col-xs-12" for="saerchKeyInput">查詢關鍵字</label>
						<div class="col-md-7 col-sm-7 col-xs-12">
							<input type="text" id="saerchKeyInput" required="required" class="form-control col-md-7 col-xs-12" ng-model="saerchKeyInput">
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12">
							<button type="button" class="btn btn-primary ng-scope" ng-click="saerch()">搜尋</button>
							<button type="button" class="btn btn-primary ng-scope" ng-click="saerchAdvanced()">進階查詢</button>
						</div>
					</div>-->
                <!-- begin 活動進階查詢 -->
                <!--<div ng-show="showActivities">
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="SPV">SPV NO</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="SPV" required="required" class="form-control col-md-7 col-xs-12" ng-model="SPV">
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityCode">活動類別代碼</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="activityCode" required="required" class="form-control col-md-7 col-xs-12" ng-model="activityCode">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityName">活動類別名稱</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="activityName" required="required" class="form-control col-md-7 col-xs-12" ng-model="activityName">
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="groupCode">活動群組代碼</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="groupCode" required="required" class="form-control col-md-7 col-xs-12" ng-model="groupCode">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="activityGroup">活動群組</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="activityGroup" tabindex="-1" ng-options="x for x in activityGroupItem"
												ng-model="activityGroup">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="numberType">門號類型</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="numberType" tabindex="-1" ng-options="x for x in numberTypeItem"
												ng-model="numberType">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12" for="type">種類</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="select2_single form-control" style="width:100%" id="type" tabindex="-1" ng-options="x for x in typeItem" ng-model="type">
                          <option></option>
                          <option value="{{x}}" ng-bind="x"></option>
                        </select>
							</div>
						</div>
						<div class="form-group pull-right">
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<button type="button" class="btn btn-primary ng-scope" ng-click="activities_Advanced()">查詢</button>
							</div>
						</div>
					</div>-->
                <!-- end 活動進階查詢 -->
                <!--</form>-->
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div>
                            <div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div>
                                            <div class="x_title">一、活動類別維護
                                                <span style="padding-left: 15px;">
                                    <button type="button" class="btn btn-success btn-xs">新增</button>
                                    <button type="button" class="btn btn-info btn-xs">查詢</button>
                                </span>
                                            </div>
                                        </div>
                                        <table class="table table-striped jambo_table">
                                            <thead>
                                                <tr class="headings">
                                                    <th class="text-center column-title">NO</th>
                                                    <th class="text-center column-title">活動代碼</th>
                                                    <th class="text-center column-title">活動名稱</th>
                                                    <th class="text-center column-title">編輯</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="even pointer">
                                                    <td class="text-center ">1</td>
                                                    <td class="text-center ">L0003</i>
                                                    </td>
                                                    <td class=" ">3轉4_iphone SE 絕配續約專案</td>
                                                    <td class="text-center ">
                                                        <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                        <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <div>
                                            <div class="x_title">二、促代專案維護
                                                <span style="padding-left: 15px;">
                                    <button type="button" class="btn btn-success btn-xs">新增</button>
                                    <button type="button" class="btn btn-info btn-xs">查詢</button>
                                </span>
                                            </div>
                                        </div>
                                        <table class="table table-striped jambo_table">
                                            <thead>
                                                <tr class="headings">
                                                    <th class="text-center column-title">NO</th>
                                                    <th class="text-center column-title">促代代碼</th>
                                                    <th class="text-center column-title">促代名稱</th>
                                                    <th class="text-center column-title">編輯</th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="even pointer">
                                                    <td class="text-center ">1</td>
                                                    <td class="text-center ">
                                                        <a class="" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                                S001</a>
                                                    </td>
                                                    <td class=" ">匯入-遠傳e書城149限12設備補貼</td>
                                                    <td class="text-center ">
                                                        <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                        <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                    </td>
                                                </tr>
                                                <tr class="even pointer">
                                                    <td colspan="5" style="padding-left: 60px; padding-top: 0px; padding-bottom: 0px;">
                                                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                            ① 主要VAS服務合約：155899-遠傳e書城149<br> ② 合約期限：12個月
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="odd pointer">
                                                    <td class="text-center ">2</td>
                                                    <td class="text-center ">B001</td>
                                                    <td class=" ">行動3G續約專案</td>
                                                    <td class="text-center ">
                                                        <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                        <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                    </td>
                                                </tr>
                                                <tr class="even pointer">
                                                    <td class="text-center ">3</td>
                                                    <td class="text-center ">S002</td>
                                                    <td class=" ">3G終極管家Plus月租699A限24</td>
                                                    <td class="text-center ">
                                                        <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                        <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="clearfix"></div>
                                        <div class="text-center">
                                            <a href="" class="btn btn-primary">確定</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- begin 關鍵字搜尋表格 -->
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="showCommonTable">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc text-center table-header-color table-header-color" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1" aria-sort="ascending">加入</th>
                                <th class="sorting text-center table-header-color table-header-color" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1">類型</th>
                                <th class="sorting text-center table-header-color table-header-color" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1">名稱</th>
                                <th class="sorting text-center table-header-color table-header-color" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1">期間</th>
                                <th class="sorting text-center table-header-color table-header-color" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1">修改</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="x in commonTableData | filter:saerchKey track by $index">
                                <td class="sorting_1 text-center" ng-click="selectItem(x)">
                                    <i class="fa fa-plus"></i>
                                </td>
                                <td ng-bind="x.type"></td>
                                <td ng-bind="x.name"></td>
                                <td ng-bind="x.dateRange"></td>
                                <td class="text-center" ng-click="edit(x)">
                                    <i class="fa fa-pencil"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end 關鍵字搜尋表格 -->
                <!-- begin 活動進階搜尋表格 -->
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="showActivitiesTable">
                    <table id="datatable_activities" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">加入</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">SPV NO</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">門號類型</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">種類</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動類別代碼</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動類別名稱</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動期間</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動群組代碼</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">活動群組</th>
                                <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">修改</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" ng-repeat="x in activitiesTableData track by $index">
                                <td class="sorting_1 text-center" ng-click="selectItem(x)">
                                    <i class="fa fa-plus"></i>
                                </td>
                                <td ng-bind="x.SPV"></td>
                                <td ng-bind="x.gateType"></td>
                                <td ng-bind="x.sort"></td>
                                <td ng-bind="x.activityCode"></td>
                                <td ng-bind="x.activityName"></td>
                                <td ng-bind="x.activityRange"></td>
                                <td ng-bind="x.groupCode"></td>
                                <td ng-bind="x.groupName"></td>
                                <td class="text-center" ng-click="edit(x)">
                                    <i class="fa fa-pencil"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end 活動進階搜尋表格 -->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade fullscreen-modal" id="Modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    <h4 class="modal-title" id="myModalLabel1">促代維護-問卷</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <div>
                                <div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="x_panel">
                                            <div>
                                                <div class="x_title">一、活動類別維護
                                                    <span style="padding-left: 15px;">
                                    <button type="button" class="btn btn-success btn-xs">新增</button>
                                    <button type="button" class="btn btn-info btn-xs">查詢</button>
                                </span>
                                                </div>
                                            </div>
                                            <table class="table table-striped jambo_table">
                                                <thead>
                                                    <tr class="headings">
                                                        <th class="text-center column-title">NO</th>
                                                        <th class="text-center column-title">活動代碼</th>
                                                        <th class="text-center column-title">活動名稱</th>
                                                        <th class="text-center column-title">編輯</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="even pointer">
                                                        <td class="text-center ">1</td>
                                                        <td class="text-center ">L0003</i>
                                                        </td>
                                                        <td class=" ">3轉4_iphone SE 絕配續約專案</td>
                                                        <td class="text-center ">
                                                            <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                            <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <hr>
                                            <div>
                                                <div class="x_title">二、促代專案維護
                                                    <span style="padding-left: 15px;">
                                    <button type="button" class="btn btn-success btn-xs">新增</button>
                                    <button type="button" class="btn btn-info btn-xs">查詢</button>
                                </span>
                                                </div>
                                            </div>
                                            <table class="table table-striped jambo_table">
                                                <thead>
                                                    <tr class="headings">
                                                        <th class="text-center column-title">NO</th>
                                                        <th class="text-center column-title">促代代碼</th>
                                                        <th class="text-center column-title">促代名稱</th>
                                                        <th class="text-center column-title">編輯</th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="even pointer">
                                                        <td class="text-center ">1</td>
                                                        <td class="text-center ">
                                                            <a class="" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true"
                                                                aria-controls="collapseOne">
                                                                S001</a>
                                                        </td>
                                                        <td class=" ">匯入-遠傳e書城149限12設備補貼</td>
                                                        <td class="text-center ">
                                                            <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                            <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="even pointer">
                                                        <td colspan="5" style="padding-left: 60px; padding-top: 0px; padding-bottom: 0px;">
                                                            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                ① 主要VAS服務合約：155899-遠傳e書城149<br> ② 合約期限：12個月
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd pointer">
                                                        <td class="text-center ">2</td>
                                                        <td class="text-center ">B001</td>
                                                        <td class=" ">行動3G續約專案</td>
                                                        <td class="text-center ">
                                                            <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                            <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="even pointer">
                                                        <td class="text-center ">3</td>
                                                        <td class="text-center ">S002</td>
                                                        <td class=" ">3G終極管家Plus月租699A限24</td>
                                                        <td class="text-center ">
                                                            <a href="#" class="btn btn-info btn-xs" style="margin: 0px;"><i
                                                                    class="fa fa-pencil"></i> 修改 </a>
                                                            <a href="#" class="btn btn-danger btn-xs" style="margin: 0px;"><i
                                                                    class="glyphicon glyphicon-remove"></i> 刪除 </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>
                                            <div class="text-center">
                                                <a href="" class="btn btn-primary">確定</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>