<div class="page-no-title"></div>
<div class="row" ng-controller="functionPermissionsSetCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>使用者功能權限設定</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" style="margin-top:20px;">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">使用者角色名稱:</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#ApplyMechanically">套用</button>
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#resetModal">重置</button>
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#editModal">修改</button>
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#addModal">新增</button>
                    </div>
                    <!--<div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12"><br></div>
                    </div>-->
                    <!-- begin 表格 -->
                    <table id="datatable_functionPermissionSet" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="table-header-color">使用者角色ID
                                </th>
                                <th class="table-header-color">使用者角色名稱
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in roleTableData track by $index">
                                <td ng-bind="x.roleId"></td>
                                <td ng-bind="x.roleName"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end 表格 -->
                </form>
            </div>
        </div>
    </div>
    <!-- Start to do function list -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>功能清單</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="" style="overflow-y:auto; height:200px;margin-bottom:20px">
                    <ul class="to_do">
                        <li>
                            <p><input type="checkbox"> 系統管理設定</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 系統管理維護</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 查詢＆報表管理</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 促代維護</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                        <li>
                            <p><input type="checkbox"> 編輯區</p>
                        </li>
                    </ul>
                </div>
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr class="table-header-color">
                            <th>功能清單</th>
                            <th>功能</th>
                            <th>元件</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr ng-repeat="x in functionPermissionSetData track by $index">
                                            <td ng-bind="x.functionList"></td>
                                            <td><input type="checkbox" > {{x.function}}</td>
                                            <td><input type="checkbox" class="flat"> {{x.add}}</td>
                                            <td><input type="checkbox" class="flat"> {{x.edit}}</td>
                                            <td><input type="checkbox" class="flat"> {{x.delete}}</td>
                                            <td><input type="checkbox" class="flat"> {{x.discontinue}}</td>
                                            <td><input type="checkbox" class="flat"> {{x.startUsing}}</td>
                                            <td><input type="checkbox" class="flat" id="applyMechanically"> {{x.applyMechanically}}</td>
                                        </tr>-->
                        <tr>
                            <td>系統設定管理</td>
                            <td><input type="checkbox">使用者設定</td>
                            <td><input type="checkbox">新增</td>
                            <td><input type="checkbox">修改</td>
                            <td><input type="checkbox">刪除</td>
                            <td><input type="checkbox">停用</td>
                            <td><input type="checkbox">啟用</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>系統設定管理</td>
                            <td><input type="checkbox">角色設定</td>
                            <td><input type="checkbox">新增</td>
                            <td><input type="checkbox">修改</td>
                            <td><input type="checkbox">刪除</td>
                            <td><input type="checkbox">停用</td>
                            <td><input type="checkbox">啟用</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>系統設定管理</td>
                            <td><input type="checkbox">部門設定</td>
                            <td><input type="checkbox">新增</td>
                            <td><input type="checkbox">修改</td>
                            <td><input type="checkbox">刪除</td>
                            <td><input type="checkbox">停用</td>
                            <td><input type="checkbox">啟用</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>系統設定管理</td>
                            <td><input type="checkbox">權限設定</td>
                            <td><input type="checkbox">新增</td>
                            <td><input type="checkbox">修改</td>
                            <td><input type="checkbox">刪除</td>
                            <td><input type="checkbox">停用</td>
                            <td><input type="checkbox">啟用</td>
                            <td><input type="checkbox">套用</td>
                        </tr>
                        <tr>
                            <td>促代維護</td>
                            <td><input type="checkbox">折扣查詢</td>
                            <td><input type="checkbox">查詢</td>
                            <td><input type="checkbox">重新上架</td>
                            <td><input type="checkbox">複製SPA單</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>促代維護</td>
                            <td><input type="checkbox">折扣查詢</td>
                            <td><input type="checkbox">查詢</td>
                            <td><input type="checkbox">重新上架</td>
                            <td><input type="checkbox">複製SPA單</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12"><br></div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-info btn-default pull-right">取消</button>
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#Modal2">重置</button>
                        <button type="button" class="btn btn-info btn-default pull-right" data-toggle="modal" data-target="#Modal3">確認</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- End to do list -->
    <!-- 確認畫面 新增 modal -->
    <div class="modal fade bs-example-modal-lg" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">確認畫面</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-12 text-center">
                            <h3>確定新增角色嗎？</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addComplete">確定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end 確認畫面 新  -->
    <!-- 新增完成 -->
    <div class="modal fade bs-example-modal-lg" id="addComplete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <h3>新增完成</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 新增確認畫面-->
    <!-- 確認畫面 修改 modal -->
    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">確認畫面</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-12 text-center">
                            <h3>確定修改角色嗎？</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editComplete">確定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end 確認畫面 新  -->
    <!-- 修改完成 -->
    <div class="modal fade bs-example-modal-lg" id="editComplete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <h3>修改完成</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改完成 end -->
    <!-- 確認畫面 重置 modal -->
    <div class="modal fade bs-example-modal-lg" id="resetModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">確認畫面</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-12 text-center">
                            <h3>確定重置角色嗎？</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#resetComplete">確定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end 確認畫面 重置  -->
    <!-- 重置完成 -->
    <div class="modal fade bs-example-modal-lg" id="resetComplete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <h3>重置完成</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 重置完成 end -->
    <!--6 套用modal-->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="modal fullscreen-modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="ApplyMechanically">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class=" modal-title " id="myModalLabel">套用</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal form-label-left">
                            <!-- begin 表格 -->
                            <table id="datatable_functionPermissionSet2" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="table-header-color">使用者角色ID
                                        </th>
                                        <th class="table-header-color">使用者角色名稱
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in roleTableData track by $index">
                                        <td ng-bind="x.roleId"></td>
                                        <td ng-bind="x.roleName"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end 表格 -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ApplyMechanicallyComplete">確定</button>
                        <button type="button " class="btn btn-default " data-dismiss="modal ">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 套用modal -->
    <!-- 套用完成 -->
    <div class="modal fade bs-example-modal-lg" id="ApplyMechanicallyComplete" tabindex="-1 " role="dialog ">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-body ">
                    <div class="row ">
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center ">
                            <h3>套用完成</h3>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4 col-md-offset-4 text-center ">
                            <button type="button " class="btn btn-primary " data-dismiss="modal ">確定</button>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 套用完成 end -->
</div>