<div class="page-no-title"></div>
<div class="row" ng-controller="ITParameterSetCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>IT參數設定</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- IT參數設定內容 -->
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">目錄:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option></option>
                                    <option>FET</option>
                                </select>
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">分類:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option></option>
                                    <option>F</option>
                                </select>
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">類型:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control">
                                    <option></option>
                                    <option>DISC_EFFECTIVE_METHOD</option>
                                    <option>REMOVE_METHOD</option>
                                    <option>VAS_VALIDITY</option>
                                    <option>CARRYING_AMOUNT</option>
                                    <option>DISC_SMS_ELEMENT</option>
                                    <option>DISC_MMS_ELEMENT</option>
                                    <option>DOMESTIC_CALLING</option>
                                    <option>DISC_IDD_ELEMENT</option>
                                    <option>DISC_OC_ELEMENT</option>
                                    <option>VAS_VOICE_ELEMENT</option>
                                    <option>VAS_VIDEO_ELEMENT</option>
                                    <option>DISC_GPRS_ELEMENT</option>
                                    <option>DISC_TAPOUT_ELEMENT</option>
                                    <option>DISC_TAPIN_ELEMENT</option>         
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <button type="button" class="btn btn-info" ng-show="btnShow1" ng-click="advancedSearch()">進階查詢</button>
                            </div>
                        </div>
                        <div class="form-group" ng-if="advancedControl">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">KEY:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group" ng-if="advancedControl">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">值:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <button type="button" class="btn btn-info" ng-show="btnShow2" ng-click="advancedSearch()">進階查詢</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4 col-sm-4 col-xs-12">
                                <button type="button" class="btn btn-primary" style="margin-right: 15px" ng-click="inquireTable()">查詢</button>
                                <button type="button" class="btn btn-primary" style="margin-right: 15px" data-toggle="modal" data-target="#addModal">新增</button>
                                <button type="button" class="btn btn-primary">重置</button>
                            </div>
                        </div>
                        <br>
                        <div class="form-group " ng-show="ITParameterSetTable">
                            <table id="datatable_ITParameterSet" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="table-header-color col-md-1">排序</th>
                                        <th class="table-header-color col-md-1">目錄</th>
                                        <th class="table-header-color col-md-1">分類</th>
                                        <th class="table-header-color col-md-1">類型</th>
                                        <th class="table-header-color col-md-1">KEY</th>
                                        <th class="table-header-color col-md-1">值</th>
                                        <th class="table-header-color col-md-1">PARAMETE</th>
                                        <th class="table-header-color col-md-1">修改人員</th>
                                        <th class="table-header-color col-md-2">修改日期</th>
                                        <th class="table-header-color col-md-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ITParameterSetTableData track by $index">
                                        <td ng-bind="x.ITParameterSetSort"></td>
                                        <td ng-bind="x.ITParameterSetList"></td>
                                        <td ng-bind="x.ITParameterSetClassification"></td>
                                        <td ng-bind="x.ITParameterSetType"></td>
                                        <td ng-bind="x.ITParameterSetKEY"></td>
                                        <td ng-bind="x.ITParameterSetValue"></td>
                                        <td ng-bind="x.ITParameterSetPARAMETE"></td>
                                        <td ng-bind="x.modifyPersonnel"></td>
                                        <td ng-bind="x.modifyDate"></td>
                                        <td>
                                            <button type="button" class="btn  btn-info btn-xs" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i> 修改</button>
                                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-remove"></i>刪除</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <!-- IT參數設定內容 end -->
                    <!-- 參數設定新增 -->
                    <div class="modal fullscreen-modal fade in" id="addModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">it參數設定設定</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>目錄:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>FET</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>分類:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>F</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>類型:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>DISC_EFFECTIVE_METHOD</option>
                                                    <option>REMOVE_METHOD</option>
                                                    <option>VAS_VALIDITY</option>
                                                    <option>CARRYING_AMOUNT</option>
                                                    <option>DISC_SMS_ELEMENT</option>
                                                    <option>DISC_MMS_ELEMENT</option>
                                                    <option>DOMESTIC_CALLING</option>
                                                    <option>DISC_IDD_ELEMENT</option>
                                                    <option>DISC_OC_ELEMENT</option>
                                                    <option>VAS_VOICE_ELEMENT</option>
                                                    <option>VAS_VIDEO_ELEMENT</option>
                                                    <option>DISC_GPRS_ELEMENT</option>
                                                    <option>DISC_TAPOUT_ELEMENT</option>
                                                    <option>DISC_TAPIN_ELEMENT</option> 
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <button type="button" class="btn btn-info" ng-click="" data-toggle="modal" data-target="#editType">編輯類型</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>群組:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <button type="button" class="btn btn-info" data-toggle="modal" ng-click="editGroup()">編輯群組</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                <span style="color:red;">*</span>KEY:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                <span style="color:red;">*</span>值:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">PARAMETMR:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">排序:</label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-8 col-sm-offset-8"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 參數設定新增  -->
                    <!-- 參數設定修改 -->
                    <div class="modal fullscreen-modal fade in" id="editModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">it參數設定修改</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>目錄:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control" disabled>
                                                    <option></option>
                                                    <option>FET</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>分類:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control" disabled>
                                                    <option></option>
                                                    <option>F</option>
                                                </select>
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>類型:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control" disabled>
                                                    <option></option>
                                                    <option>DISC_EFFECTIVE_METHOD</option>
                                                    <option>REMOVE_METHOD</option>
                                                    <option>VAS_VALIDITY</option>
                                                    <option>CARRYING_AMOUNT</option>
                                                    <option>DISC_SMS_ELEMENT</option>
                                                    <option>DISC_MMS_ELEMENT</option>
                                                    <option>DOMESTIC_CALLING</option>
                                                    <option>DISC_IDD_ELEMENT</option>
                                                    <option>DISC_OC_ELEMENT</option>
                                                    <option>VAS_VOICE_ELEMENT</option>
                                                    <option>VAS_VIDEO_ELEMENT</option>
                                                    <option>DISC_GPRS_ELEMENT</option>
                                                    <option>DISC_TAPOUT_ELEMENT</option>
                                                    <option>DISC_TAPIN_ELEMENT</option> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>群組:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <button type="button" class="btn btn-info" data-toggle="modal" ng-click="editGroup()">編輯群組</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                <span style="color:red;">*</span>KEY:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                <span style="color:red;">*</span>值:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">PARAMETMR:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">排序:</label>
                                            <div class="col-md-2 col-sm-2 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-8 col-sm-offset-8"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 參數設定修改 -->
                   
                    <!-- 確認畫面 刪除 modal -->
                    <div class="modal fade bs-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                    <h4 class="modal-title">確認畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定刪除?</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#deleteComplete">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 確認畫面  刪除 modal -->
                    <!-- 刪除完成 -->
                    <div class="modal fade bs-example-modal-lg" id="deleteComplete" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>刪除完成</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除完成 end -->
                    <!-- 編輯類型 -->
                    <div class="modal fade bs-example-modal-lg" id="editType" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">編輯類型</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>目錄:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                <span style="color:red;">*</span>分類:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>類型:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>類型中文名稱:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 編輯類型 -->
                    <!-- 編輯群組 -->
                    <div class="modal fullscreen-modal fade in" id="editGroup" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">編輯群組</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">群組代碼:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                群組名稱:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-8 col-sm-8 col-xs-12">
                                                <button type="button" class="btn btn-primary">查詢</button>
                                                <button type="button" class="btn btn-primary" ng-click="addGroup()">新增</button>
                                                <button type="button" class="btn btn-primary">重置</button>
                                                <button type="button" class="btn btn-primary">關閉</button>
                                            </div>
                                        </div>
                                        <table id="datatable_editGroup" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="table-header-color">排序</th>
                                                    <th class="table-header-color">代碼</th>
                                                    <th class="table-header-color">名稱</th>
                                                    <th class="table-header-color">修改人員</th>
                                                    <th class="table-header-color">修改日期</th>
                                                    <th class="table-header-color">編輯</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="x in editGroupTableData track by $index">
                                                    <td ng-bind="x.groupSort"></td>
                                                    <td ng-bind="x.groupNumber"></td>
                                                    <td ng-bind="x.groupName"></td>
                                                    <td ng-bind="x.modifyPersonnel"></td>
                                                    <td ng-bind="x.modifyDate"></td>
                                                    <td>
                                                        <button type="button" class="btn  btn-info btn-xs" data-toggle="modal" data-target="#editAddGroup"><i class="fa fa-pencil"></i> 修改</button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" data-toggle="modal" data-target="#deleteModal"><i class="glyphicon glyphicon-remove"></i> 刪除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 編輯群組 -->
                    <!-- 新增編輯群組 -->
                    <div class="modal fade bs-example-modal-lg" id="addGroup" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">新增編輯群組</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">群組代碼:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                群組名稱:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 編輯群組 -->
                    <!-- 修改編輯群組 -->
                    <div class="modal fade bs-example-modal-lg" id="editAddGroup" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">修改編輯群組</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">群組代碼:</label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                群組名稱:
                                            </label>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="text" class="form-control col-md-7 col-xs-12">
                                            </div>
                                            <div class="col-md-offset-2 col-sm-offset-2"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 編輯群組 -->
                    <!-- 新增確認畫面 -->
                    <div class="modal fade bs-example-modal-lg" id="addConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                    <h4 class="modal-title">確認畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定新增?</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveMarginSetTable()" data-toggle="modal" data-target="#addComplete">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 新增確認畫面-->
                    <!-- 新增完成 -->
                    <div class="modal fade bs-example-modal-lg" id="addComplete" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>新增完成</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 新增完成-->
                     <!-- 修改確認畫面 modal -->
                    <div class="modal fade bs-example-modal-lg" id="editConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                    <h4 class="modal-title">確認畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定修改?</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editComplete">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end 修改確認畫面  modal -->
                    <!-- 修改完成 -->
                    <div class="modal fade bs-example-modal-lg" id="editComplete" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>修改完成</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改完成 end -->
                    
                </div>
            </div>
        </div>
    </div>
</div>