<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large model</button>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">Model 標題</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>SR-NO</th>
										<th>SPV-NO</th>
										<th>OFFER ID</th>
										<th>上架次數</th>
										<th>上一版本編號</th>
										<th>促代群組</th>
										<th colspan="5">重新上架備註</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
										<td>N/A</td>
										<td class="active" colspan="5"><input class="form-control input-sm" type="text" placeholder="N/A" disabled></td>
									</tr>
									<tr>
										<td colspan="3" class="info">項目</td>
										<td colspan="4" class="info">內容</td>
									</tr>
									<tr>
										<td colspan="3">主約促代 代碼/名稱 180Byte</td>
										<td colspan="4">
											<div class="col-lg-3">
												<input class="form-control input-sm" type="text" placeholder="" disabled>
											</div>
											<div class="col-lg-6">
												<input class="form-control input-sm" type="text" placeholder="">
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="3">附約促代 代碼/名稱</td>
										<td colspan="4">
											<div class="col-lg-3">
												<input class="form-control input-sm btn-sm" type="text" placeholder="" disabled>
											</div>
											<div class="col-lg-6">
												<input class="form-control input-sm btn-sm" type="text" placeholder="">
											</div>
											<div>
												<button type="button" class="btn btn-default btn-sm">...</button>
												<button type="button" class="btn btn-default btn-sm">移除赴約</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>
		</div>
	</div>
</div>
<!-- Large modal -->