<div class="page-no-title"></div>
<div class="row" ng-controller="offerMutexSetCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Offer互斥設定維護</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- offer互斥設定維護 表單 begin -->
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Offer ID</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Offer Name</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-2">
                                <button type="button" class="btn btn-default" style="color: #73879c" ng-click="vm.searchAdv=!vm.searchAdv">進階查詢</button>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.searchAdv">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">訊息描述</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group" ng-if="vm.searchAdv">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">是否提示警訊</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="radio">
                                    <label><input type="radio" value="option2" name="optionsRadios">是</label>
                                    <label><input type="radio" value="option1" name="optionsRadios">否</label>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group" ng-if="vm.searchAdv">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">是否提示警訊</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select class="form-control col-md-3 col-xs-12">
                                         <option></option>
                                         <option>是</option>
                                         <option>否</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="form-group" ng-if="vm.searchAdv">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">設定互斥原因</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="col-md-offset-4 col-sm-offset-4"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="showTable()">查詢</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#offerMutexSetAdd">新增</button>
                                    <button type="button" class="btn btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                        <!--offer互斥設定維護 表格 start -->
                        <table id="datatable_offerMutexSet" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="table-header-color col-md-1">OfferID</th>
                                    <th class="table-header-color col-md-2">OfferName</th>
                                    <th class="table-header-color col-md-1">互斥OfferID</th>
                                    <th class="table-header-color col-md-1">互斥OfferName</th>
                                    <th class="table-header-color col-md-1">訊息描述</th>
                                    <th class="table-header-color col-md-1">是否提示警訊</th>
                                    <th class="table-header-color col-md-1">設定互斥原因</th>
                                    <th class="table-header-color col-md-1">修改人員</th>
                                    <th class="table-header-color col-md-2">修改日期</th>
                                    <th class="table-header-color col-md-1"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat=" x in offerMutexSetTableData track by $index">
                                    <td ng-bind="x.offerMutexID"></td>
                                    <td ng-bind="x.offerMutexName"></td>
                                    <td ng-bind="x.offerMutexMutexID"></td>
                                    <td ng-bind="x.offerMutexMutexName"></td>
                                    <td ng-bind="x.offerMutexMessage"></td>
                                    <td ng-bind="x.offerMutexAlert"></td>
                                    <td ng-bind="x.offerMutexReason"></td>
                                    <td ng-bind="x.offerMutexRole"></td>
                                    <td ng-bind="x.offerMutexDate"></td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#offerMutexSetEdit"><i class="fa fa-pencil"></i>修改</button>
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#offerMutexSetDelConfirm"><i class="glyphicon glyphicon-remove"></i>刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- offer互斥設定維護 表格 end -->
                        <!-- 頁籤 begin -->
                        <div class="pull-right">
                            <div bt-pagination ng-model="tableInfo" page-size="2" page-count=-9></div>
                        </div>
                        <!-- 頁籤 end -->
                    </form>
                    <!-- offer互斥設定維護 表單 end -->
                    <!-- 新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexSetAdd" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>門號類型</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <select class="form-control">
                                                    <option></option>
                                                    <option>4G</option>
                                                    <option>3G</option>
                                                    <option>2G</option>
                                                    <option>統一超商</option>
                                                    <option>全虹</option>
                                                    <option>Non SIM</option>
                                                    <option>KG</option>
                                                    <option>EID</option>
                                                    <option>CID</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>Offer項目</label>
                                            <div class="container-fluid col-md-9 col-sm-9 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="addSearchText1">
                                                    <select id="offerSelect1" class="form-control" size="8" multiple="multiple" ng-model="offerSelect1" ng-options="item for item in names | filter:addSearchText1"></select>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" id="offerAdd1_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c">
                                                        <i class="glyphicon glyphicon-forward"></i>
                                                    </button>
                                                    <button type="button" id="offerAdd1" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                    <button type="button" id="offerRemove1" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    <button type="button" id="offerRemove1_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-backward"></i></button>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="addSearchText2">
                                                    <select id="offerSelect2" class="form-control" size="8" multiple="multiple" ng-model="offerSelect2" ng-options="item for item in names1 | filter:addSearchText2"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>互斥Offer項目</label>
                                            <div class="container-fluid col-md-9 col-sm-9 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="addSearchText3">
                                                    <select id="offerMutexSelect1" class="form-control" size="8" multiple="multiple" ng-model="offerMutexSelect1" ng-options="item for item in names | filter:addSearchText3"></select>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <button type="button" id="offerMutexAdd1_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c">
                                                        <i class="glyphicon glyphicon-forward"></i>
                                                    </button>
                                                    <button type="button" id="offerMutexAdd1" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                    <button type="button" id="offerMutexRemove1" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    <button type="button" id="offerMutexRemove1_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-backward"></i></button>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="addSearchText4">
                                                    <select id="offerMutexSelect2" class="form-control" size="8" multiple="multiple" ng-model="offerMutexSelect2" ng-options="item for item in names1 | filter:addSearchText4"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-1 col-sm-offset-1"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>訊息描述</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                            <div class="col-md-offset-1 col-sm-offset-1"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>是否提示警訊</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="radio">
                                                    <label><input type="radio" value="option2" name="optionsRadios" checked="checked">警告並檔件</label>                                                    <label><input type="radio" value="option1" name="optionsRadios">警告不檔件</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>是否提示警訊</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select class="form-control col-md-3 col-xs-12">
                                                    <option>請選擇</option>
                                                    <option>警告並檔件</option>
                                                    <option>警告不檔件</option>
                                                </select>
                                            </div>
                                        </div>-->
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">設定互斥原因</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-1 col-sm-offset-1"></div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#offerMutexSetAddConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#offerMutexConfirmCancelAdd">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 新增 end -->
                    <!-- 確定新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexSetAddConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定新增畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定新增？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyAddSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定新增 end -->
                    <!-- 新增完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="offerMutexSetAddOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">新增完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>新增完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 新增完成 end -->
                    <!-- 確定取消新增 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexConfirmCancelAdd" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定取消新增畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定取消新增？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定取消新增 end -->
                    <!-- 修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexSetEdit" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>門號類型</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select class="form-control col-md-3 col-xs-12">
                                                    <option></option>
                                                    <option>4G</option>
                                                    <option>3G</option>
                                                    <option>2G</option>
                                                    <option>統一超商</option>
                                                    <option>全虹</option>
                                                    <option>Non SIM</option>
                                                    <option>KG</option>
                                                    <option>EID</option>
                                                    <option>CID</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>Offer項目</label>
                                            <div class="container-fluid col-md-9 col-sm-9 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="editSearchText1">
                                                    <select id="offerSelect3" class="form-control" size="8" multiple="multiple" ng-model="offerSelect3" ng-options="item for item in names | filter:editSearchText1"></select>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <button type="button" id="offerAdd2_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c">
                                                        <i class="glyphicon glyphicon-forward"></i>
                                                    </button>
                                                    <button type="button" id="offerAdd2" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                    <button type="button" id="offerRemove2" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    <button type="button" id="offerRemove2_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-backward"></i></button>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="editSearchText2">
                                                    <select id="offerSelect4" class="form-control" size="8" multiple="multiple" ng-model="offerSelect4" ng-options="item for item in names1 | filter:editSearchText2"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-1 col-sm-offset-1"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>互斥Offer項目</label>
                                            <div class="container-fluid col-md-9 col-sm-9 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="editSearchText3">
                                                    <select id="offerMutexSelect3" class="form-control" size="8" multiple="multiple" ng-model="offerMutexSelect3" ng-options="item for item in names | filter:editSearchText3"></select>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <button type="button" id="offerMutexAdd2_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c">
                                                        <i class="glyphicon glyphicon-forward"></i>
                                                    </button>
                                                    <button type="button" id="offerMutexAdd2" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                                    <button type="button" id="offerMutexRemove2" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                                    <button type="button" id="offerMutexRemove2_all" class="btn btn-default btn-sm col-md-12" style="color: #73879c"><i class="glyphicon glyphicon-backward"></i></button>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" placeholder="請輸入文字" ng-model="editSearchText4">
                                                    <select id="offerMutexSelect4" class="form-control" size="8" multiple="multiple" ng-model="offerMutexSelect4" ng-options="item for item in names1 | filter:editSearchText4"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>訊息描述</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>是否提示警訊</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <div class="radio">
                                                    <label><input type="radio" value="option2" name="optionsRadios" checked="checked">警告並檔件</label>                                                    <label><input type="radio" value="option1" name="optionsRadios">警告不檔件</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12"><span style="color:red;">*</span>是否提示警訊</label>
                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select class="form-control col-md-3 col-xs-12">
                                                    <option>請選擇</option>
                                                    <option>警告並檔件</option>
                                                    <option>警告不檔件</option>
                                                </select>
                                            </div>
                                        </div>-->
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">設定互斥原因</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                            <div class="col-md-offset-1 col-sm-offset-1"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#offerMutexSetEditConfirm">確定</button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#offerMutexConfirmCancelEdit">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改 end -->
                    <!-- 確定修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexSetEditConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyEditSuccess()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定修改 end -->
                    <!-- 修改完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="offerMutexSetEditOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close " data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">修改完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>修改完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 修改完成 end -->
                    <!-- 確定取消修改 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexConfirmCancelEdit" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定取消修改畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定取消修改？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel2()">確定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 確定取消修改 end -->
                    <!-- 刪除 begin -->
                    <div class="modal fade bs-example-modal-lg" id="offerMutexSetDelConfirm" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true ">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">確定刪除畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>確定刪除？</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="pnotifyDelSuccess()">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 刪除 end -->
                    <!-- 刪除完成 begin -->
                    <!--<div class="modal fade bs-example-modal-lg" id="offerMutexSetDelOk" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true ">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title">刪除完成畫面</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-4 col-md-offset-4 text-center">
                                            <h3>刪除完成。</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 刪除完成 end -->
                </div>
            </div>
        </div>
    </div>
</div>