<div class="page-no-title"></div>
<div class="row" ng-controller="demoCtrl">
    <form data-parsley-validate class="form-horizontal form-label-left">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:40px;">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name_3">使用者角色ID:
            </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" id="" required="required" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name_3">使用者角色名稱:
            </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" id="" required="required" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 pull-right" style="margin-top:10px; margin-right:-10px;">
                    <button type="button" class="btn btn-info btn-default">查詢</button>
                    <button type="button" class="btn btn-info btn-default">新增</button>
                    <button type="button" class="btn btn-info btn-default">修改</button>
                    <button type="button" class="btn btn-info btn-default">刪除</button>
                    <button type="button" class="btn btn-info btn-default">取消</button>
                </div>
            </div>
        </div>
        <!-- begin 使用者角色表格 -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="datatable_activities" class="table  table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                <thead>
                    <tr>
                        <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width:60px;">使用者角色ID
                        </th>
                        <th class="sorting text-center table-header-color" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width:50px;">使用者角色名稱
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" ng-repeat="x in activitiesTableData track by $index">
                        <td ng-bind="x.gateType"></td>
                        <td ng-bind="x.sort"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end 使用者角色表格 -->
    </form>
</div>