<div class="navbar nav_title" style="border: 0;" ng-controller="sliderMenu">
  <a href="index.html" class="site_title">
    <!--<i class="fa fa-paw"></i> -->
    <span>NPV Prototype</span>
  </a>
</div>
<div class="clearfix"></div>
<!-- menu profile quick info -->
<div class="profile">
  <div class="profile_pic">
    <i class="fa fa-user fa-3 portrait"></i>
  </div>
  <div class="profile_info">
    <span>Welcome,</span>
    <h2>AmyKao</h2>
  </div>
  <h3>藍科數位科技</h3>
</div>
<!-- /menu profile quick info -->
<br />
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a><i class="fa fa-edit"></i> 個人工作區 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">促代維護</a></li>
          <li><a href="#">折扣維護</a></li>
          <li><a href="#">贈品加碼維護</a></li>
          <li><a href="#">草稿</a></li>
          <li><a href="#">大量匯入促代草稿</a></li>
          <li><a href="#">Excel大批修改</a></li>
          <li><a href="#">多筆促代新增</a></li>
          <li><a href="#">多筆編輯維護</a></li>
          <li><a href="#">待處理</a></li>
          <li><a href="#">已處理</a></li>
          <li><a href="#">退件記錄</a></li>
          <li><a href="#">上傳促代等待排程</a></li>
          <li><a href="#">促代設定檢查(PM記錄)</a></li>
          <li><a href="#">轉單/拆單/合併</a></li>
          <li><a href="#">匯入單機價、轉換值</a></li>
          <li><a href="#">匯出大表測試檔(XML)</a></li>
          <li><a href="#">大表查詢/匯入</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-bar-chart"></i> 查詢&amp;報表管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">版本異動紀錄查詢</a></li>
          <li><a href="#">促代查詢及報表</a></li>
          <li><a href="#">活動類別查詢及報表</a></li>
          <li><a href="#">贈品加碼活動查詢及報表</a></li>
          <li><a href="#">Bundle Promotion查詢及報表</a></li>
          <li><a href="#">Product Offer information查詢及報表</a></li>
          <li><a href="#">Product Offer&amp;Billing Offer Relation查詢及報表</a></li>
          <li><a href="#">Product hierarchy查詢及報表</a></li>
          <li><a href="#">Device/Short name查詢及報表</a></li>
          <li><a href="#">VAS Group查詢及報表</a></li>
          <li><a href="#">Selling Rule查詢及報表</a></li>
          <li><a href="#">ePC 折扣查詢及報表</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-cog"></i> 促代參數設定  <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Service新增/維護</a></li>
          <li><a href="#marginSet">保證金設定</a></li>
          <li><a href="#downtimeProbabilitySet">停機可能率設定</a></li>
          <li><a href="#ARPBSet">ARPB設定</a></li>
          <li><a href="#renewalDate">可提前續約日</a></li>
          <li><a href="#changeLimit">高改低限制</a></li>
          <li><a href="#salesSet">適用通路設定</a></li>
          <li><a href="#systemSet">啟用系統設定</a></li>
          <li><a href="#classificationSet">促代類別設定</a></li>
          <li><a href="#activityClassification">促銷活動類別</a></li>
          <li><a href="#activityType">促銷活動類型</a></li>
          <li><a href="#">常用資費設定</a></li>
          <li><a href="#">活動群組設定</a></li>
          <li><a href="#">門號類型</a></li>
          <li><a href="#">促代類型</a></li>
          <li><a href="#ITParameterSet"> IT參數設定</a></li>
          <li><a href="#">適用對象設定</a></li>
          <li><a href="#">折扣條件組態設定</a></li>
          <li><a href="#">附約VAS設定</a></li>
          <li><a href="#">活動類別條件設定</a></li>
          <li><a href="#">設定費/預繳金額設定</a></li>
          <li><a href="#">A貼/備援單維護</a></li>
          <li><a href="#">違約金設定維護</a></li>
          <li><a href="#">促代OFFER簡稱設定</a></li>
          <li><a href="#">合約相關新增/維護</a></li>
          <li><a href="#">折扣範本維護</a></li>
          <li><a href="#">贈品/加碼活動條件類型維護</a></li>
          <li><a href="#">贈品/加碼活動條件項目維護</a></li>
          <li><a href="#">贈品/加碼活動下拉選單維護</a></li>
          <li><a href="#">畫面連動維護</a></li>
          <li><a href="#">Offer互斥設定維護</a></li>
          <li><a href="#">IT折扣特殊控制</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-table"></i> 簽核設定管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">簽核流程設定</a></li>
          <li><a href="#">簽核紀錄查詢</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-th-large"></i> 權限管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#userSet">使用者設定</a></li>
          <li><a href="#roleSet">角色設定</a></li>
          <li><a href="#groupsSet">群組設定</a></li>
          <li><a href="#">功能權限設定</a></li>
          <li><a href="#">代理人設定</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-clone"></i> 系統管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="#">Email/SMS Config設定</a></li>
          <li><a href="#">使用者操作紀錄</a></li>
          <li><a href="#">排程管理</a></li>
          <li><a href="#">IT環境設定</a></li>
          <li><a href="#">重整環境設定</a></li>
          <li><a href="#">資料庫編輯</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->
<!-- /menu footer buttons -->
<!--<div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="設定">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="全屏">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="鎖定">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="登出">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>-->
<!-- /menu footer buttons -->