<div class="nav_menu">
	<nav>
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li ng-click="vm.openList()">
				<a href="javascript:;" class="info-number">
					<i class="fa fa-cart-plus"></i>
				</a>
			</li>
			<li class="">
				<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-user"></i> John Doe
					<span class=" fa fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu dropdown-usermenu pull-right">
					<li><a href="login.html"><i class="fa fa-sign-out pull-right"></i>登出</a></li>
				</ul>
			</li>
			<li role="presentation" class="dropdown">
				<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
					<!--<i class="fa fa-share"></i>-->
					<span>退件紀錄
            <span class="badge bg-info style-right">0</span>
					</span>
				</a>
				<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
					<li>
						<a>
							<span class="image">
                <i class="fa fa-user fa-2"></i>
              <span>
                          <span>John Smith</span>
							<span class="time">3分鐘前</span>
							</span>
							<span class="message">
                          登入店組當日已啟用門號(當天)，恭喜開通。...
                        </span>
						</a>
					</li>
					<li>
						<a>
							<span class="image">
                <i class="fa fa-user fa-2"></i>
              <span>
                          <span>John Smith</span>
							<span class="time">3分鐘前</span>
							</span>
							<span class="message">
                          登入店組當日已啟用門號(當天)，恭喜開通。...
                        </span>
						</a>
					</li>
					<li>
						<a>
							<span class="image">
                <i class="fa fa-user fa-2"></i>
              <span>
                          <span>John Smith</span>
							<span class="time">3分鐘前</span>
							</span>
							<span class="message">
                          登入店組當日已啟用門號(當天)，恭喜開通。...
                        </span>
						</a>
					</li>
					<li>
						<a>
							<span class="image">
                <i class="fa fa-user fa-2"></i>
              <span>
                          <span>John Smith</span>
							<span class="time">3分鐘前</span>
							</span>
							<span class="message">
                          登入店組當日已啟用門號(當天)，恭喜開通。...
                        </span>
						</a>
					</li>
					<li>
						<div class="text-center">
							<a>
								<strong>查看全部訊息</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li ng-click="openDraft()">
				<a class="info-number">
					<span>草稿
                    <span class="badge bg-red style-right">20</span>
					</span>
				</a>
			</li>
			<li ng-click="openPending()">
				<a class="info-number">
					<span>待處理
                    <span class="badge bg-orange style-right">20</span>
					</span>
				</a>
			</li>
		</ul>
	</nav>
</div>

<bt-float-windows titlename="'已選清單'"></bt-float-windows>